<?xml version="1.0" encoding="utf-8"?>
<robot
  name="go2_description">
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin 
      rpy="0 0 0" 
      xyz="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.021112 0 -0.005366"
        rpy="0 0 0" />
      <mass
        value="6.921" />
      <inertia
        ixx="0.02448"
        ixy="0.00012166"
        ixz="0.0014849"
        iyy="0.098077"
        iyz="-3.12E-05"
        izz="0.107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.3762 0.0935 0.114" />
      </geometry>
    </collision>
  </link>

  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.28945 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="lidar">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
  </link>

  <joint 
    name="front_camera_joint" 
    type="fixed">
    <origin 
      rpy="0 0 0" 
      xyz="0.32715 -0.00003 0.04297"/>
      <parent 
        link="base_link"/>
      <child 
      link="front_camera"/>
  </joint>

  <link 
    name="front_camera">
  </link>
</robot>